form {
  position: absolute;
  backdrop-filter: blur(17px) saturate(180%);
  -webkit-backdrop-filter: blur(17px) saturate(180%);
  background-color: rgba(115, 1, 46, 0.14);
  border: 1px solid rgba(255, 255, 255, 0.125);
  max-width: 25%;
  height: 85%;
  animation: form-transition 0.8s ease-out 6s forwards;
  visibility: hidden;
  opacity: 0;
}

input:active,
input:focus {
  border-color: #180113;
  outline: none;
}

button {
  background-color: #180113;
  opacity: 0.7;
}

button:hover,
button:focus {
  opacity: 1;
}

span:hover {
  color: #180113;
  cursor: pointer;
}

.splash-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  vertical-align: auto;
  color: white;
  background: linear-gradient(320.54deg, #00069f 0%, #120010 72.37%),
    linear-gradient(58.72deg, #69d200 0%, #970091 100%),
    linear-gradient(121.28deg, #8cff18 0%, #6c0075 100%),
    linear-gradient(121.28deg, #8000ff 0%, #000000 100%),
    linear-gradient(180deg, #00ff19 0%, #24ff00 0.01%, #2400ff 100%),
    linear-gradient(52.23deg, #0500ff 0%, #ff0000 100%),
    linear-gradient(121.28deg, #32003a 0%, #ff4040 100%),
    radial-gradient(50% 72.12% at 50% 50%, #eb00ff 0%, #110055 100%);
  background-blend-mode: screen, color-dodge, color-burn, screen, overlay,
    difference, color-dodge, normal;
  background-size: cover;
  background-repeat: no-repeat;
  overflow-y: hidden;
}

.splash-screen .app-title {
  font-size: 4em;
  animation: title-transition 0.7s ease-in 2s forwards;
}

.splash-screen .app-logo {
  visibility: hidden;
  position: absolute;
  opacity: 0;
  animation: logo-transition 3s ease-out 3s forwards;
  width: 25%;
}
.form-title {
  font-size: 4em;
}

.form-logo {
  width: 60%;
}

.icon {
  position: absolute;
  top: 74.5%;
  right: 22%;
}

.icon:hover {
  cursor: pointer;
}

.alert {
  color: white;
}

.js-focus-visible {
  background-color: #110118;
}

@keyframes title-transition {
  100% {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 2s, opacity 2s linear;
    font-size: 8rem;
  }
}

@keyframes logo-transition {
  75% {
    visibility: visible;
    opacity: 1;
    transition: opacity 2s linear;
    width: 25%;
  }
  100% {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 2s, opacity 2s linear;
    width: 70%;
  }
}
@keyframes form-transition {
  100% {
    visibility: visible;
    opacity: 1;
    transition: opacity 2s linear;
  }
}

@media only screen and (max-width: 425px) {
  form {
    min-width: 75%;
    margin: 12.5%;
  }

  .splash-screen {
    align-items: flex-start;
  }

  .splash-screen .app-title {
    margin: 70% 0;
  }

  .splash-screen .app-logo {
    margin: 60% 0;
  }
}

/* @media only screen and (max-width: 425px),
  screen and (min-height: 684px),
  screen and (max-height: 920px) {
  .icon {
    top: 73.5%;
  }
} */

/* @media only screen and (min-height: 781px), screen and (max-height: 860px) {
  .icon {
    top: 74.5%;
  }
} */
@media only screen and (min-height: 861px) {
  .icon {
    top: 72%;
  }
}

@media only screen and (max-height: 683px) {
  .icon {
    top: 72%;
  }
}
@media only screen and (max-height: 643px) {
  .icon {
    top: 75.7%;
  }
}
@media only screen and (max-height: 560px) {
  .icon {
    top: 74.5%;
  }
}
@media only screen and (max-height: 500px) {
  .icon {
    top: 75.5%;
  }
}
@media only screen and (max-height: 440px) {
  .icon {
    top: 76.5%;
  }
}
@media only screen and (max-height: 390px) {
  .icon {
    top: 77.5%;
  }
}
@media only screen and (max-height: 665px) {
  #registration-page {
    /* margin-top: 30%; */
    height: 130%;
  }
}
@media only screen and (max-height: 440px) {
  #registration-page {
    /* margin-top: 30%; */
    height: 140%;
  }
}
@media only screen and (min-width: 426px) {
  form {
    max-width: none;
    width: 70%;
  }
}
@media only screen and (min-width: 500px) {
  form {
    max-width: none;
    width: 60%;
  }
}
@media only screen and (min-width: 615px) {
  form {
    max-width: none;
    width: 50%;
  }
}
@media only screen and (min-width: 700px) {
  form {
    max-width: none;
    width: 40%;
  }
}
@media only screen and (min-width: 900px) {
  form {
    max-width: none;
    width: 30%;
  }
}
@media only screen and (min-width: 1100px) {
  form {
    max-width: none;
    width: 25%;
  }
}
/* @media only screen and (min-width: 768px) {
  form {
    max-width: none;
    width: 0%;
  }
} */
/* @media only screen and (max-width: 890px) {
  .form-title {
    font-size: 3.3em;
  }
}
@media only screen and (max-width: 810px) {
  .form-title {
    font-size: 3.1em;
  }
}
@media only screen and (max-width: 760px) {
  .form-title {
    font-size: 2.8em;
  }
} */
