.home-screen {
  color: white;
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
}

/* .home-screen.scroll {
  overflow-x: hidden;
  overflow-y: auto;
} */

.profile-image-container {
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.followers-following-chats {
  min-height: 10vh;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(2.5px);
  -webkit-backdrop-filter: blur(2.5px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.followers-following-chats-heading {
  color: rgba(255, 255, 255, 0.3);
}
/* .edit-photo {
  padding-left: 40%;
} */

.hide {
  display: none;
}

.picture-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 5px;
  row-gap: 5px;
}
