.userList-container {
  width: 100%;
  height: 100vh;
}

.userList-item {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 5%;
}
.userList-item:hover {
  background-color: #060118;
  border: 1px solid white;
  border-radius: 25px;
}

.userList-item-name {
  width: 80%;
}
.userList-item-name p {
  font-size: 1.3rem;
  padding-left: 2%;
}
